<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>employee details</title>
</head>
<body>
	<div align="center">
		<form action="add" method="post">
			<h1>employee details</h1>
				<input type="text" placeholder="enter the name" name="name"> <br><br> 
				<input type="text" placeholder="enter the job" name="job"> <br><br>
				<input type="number" placeholder="enter the salary" name="salary"> <br><br>
				<input type="date" name="hiredate"> <br><br>
		
				<button>add</button>
		</form>
	</div>
</body>

</html>
